.popup__profile-input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popup__input-profole:last-of-type {
  margin: 0;
}

@media screen and (max-width: 640px) {
  .popup__input-profile {
    padding: 0 0 13px 0;
  }
}
