.header__logo {
  width: 142px;
  height: 33px;
  object-fit: contain;
}

@media screen and (max-width: 930px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    min-height: 24px;
    padding-left: 27px;
  }
}
